blinker==1.8.2
click==8.1.7
Flask==3.0.3
Flask-Cors==4.0.1
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
llvmlite==0.43.0
MarkupSafe==2.1.5
numba==0.60.0
numpy==2.0.0
pynndescent==0.5.13
scikit-learn==1.5.0
scipy==1.13.1
threadpoolctl==3.5.0
tqdm==4.66.4
umap-learn==0.5.6
Werkzeug==3.0.3
